

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


//color

$vary:#FCCF18;
$vardb: #233148;
$varbl:#1F65D9;


section,
header,
footer {
	max-width: 1920px;
	position: relative;
	margin: auto;
}

img {
	width: 100%;
}

body{
	background: #EAEFF5!important;


}
.w-50{
	width: 50%;
}
.w-100{
	width: 100%;
}

select,
textarea {
	box-shadow: none !important;
	outline: none !important;
}

button {
	outline: none !important;
	border: none;
	
}

.container {
	max-width: 1202px !important;
	// padding-left: 0px!important;
	// padding-right: 0px!important;
	// .row{
	// 	margin-left: 0px!important;
	// 	margin-right: 0px!important;
	// }
}
.cw{
	color:#ffffff;
}
.cb{
	color:$vardb;
}
.btn-st{
	background: $vary;
	font-family: Proxima Nova;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
text-align: center;
letter-spacing: 0.457143px;
text-transform: uppercase;
width: 390px;
height: 74px;
display: flex;
align-items: center;
justify-content: center;
transition: 0.3s;
color: #233148;
&:hover{
	color: white;
	transition: 0.3s;
	transform: scale(0.95);
}
}
.t-h2{
	font-family: Proxima Nova;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: flex-end;
letter-spacing: 1.44px;
text-transform: uppercase;
margin-bottom: 0px;
}
.block-title{
	img{
		width: 27px;
		height: 29px;
		margin-bottom: 18px;
	}
	margin-bottom: 122px;

}
.section-one{
	padding-top: 133px;
	background:$vardb ;
	padding-bottom: 194px;
	background-image: url(../images/Vec.webp);
	background-size: 585px,682px;
	background-repeat: no-repeat;
	background-position:top 180px center;
	
	// background-repeat: no-repeat;
	// .img-one{

	// 	position: absolute;
	// 	margin: auto;
	// 	left: 0;
	// 	right: 0;
	// 	top: 180px;
	// 	height: 682px;
	// 	width: 584.6249389648438px;
	// 	background: url(../images/Vec.webp);
	// 	background-size: cover;
	// 	background-repeat: no-repeat;

	// img{
	// 	height: 682px;
	// 	width: 584.6249389648438px;
	
	// }
	// }

	
}
.service{
	max-width: 440px;
	margin-left: 85px;
	margin-bottom: 100px;
	.service_img{
		width: 52px;
		height: 52px;
		margin-bottom: 25px;
	}
	.service_title{
		font-family: Proxima Nova;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
letter-spacing: 0.64px;
color: #FFFFFF;
margin-bottom: 50px;
	}
	.service_txt{
		font-family: Proxima Nova;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.36px;
color: #8796AE;
	}

}
.section-two{
	position: relative;
transform: translate(0px,-108px);
	.bg-l{
	    background: #1F65D9;
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
	}

	.container{
	
		background: #1F65D9;
		position: relative;

	}
	.img-b{
		width: 677px;
		height: 601px;
		position: absolute;
		
		right: 0px;
		top: -73px;
	}
	.block-download{
		padding-top: 71px;
		height: 310px;
		.bownload_txt{
			display: flex;
		}
		position: relative;
		.btn-st{
			position: absolute;
			bottom: -37px;
			left: 85px;
		}

	}
	.txt_title{
		font-family: Proxima Nova;
font-style: normal;
font-weight:bold;
font-size: 31.997px;
line-height: 39px;
letter-spacing: 0.64px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 0px;
	}
	.l{
	
width: 238px;
position: relative;
.img_g{
	width: 100%;
	height: 278px;
	position: absolute;
	left: 0;
	top: 0;
}
	}
	.t-s{
		font-family: Proxima Nova;
font-style: normal;
font-weight: 300;
font-size: 23.9977px;
line-height: 34px;
letter-spacing: 0.48px;
color: #FFFFFF;
margin-bottom: 0px;

	}
	.r{
		width: 217px;
		margin-left: 55px;
		margin-top: 44px
	}
}
.section-tree{
	padding-top: 167px;
}

@media screen and (max-width:991px) {
	.container {
		max-width: 345px !important;
		min-width: 320px !important;
	
	}
	main{
		overflow: hidden;
	}
	.btn-st{
		width: 280px;
		height: 64px;
		font-size: 16px;
line-height: 19px;
	}


	section,
	header,
	footer {
		min-width: 320px;
	}
	.section-one{
		padding-bottom: 30px;
		padding-top: 90px;
		background-size: 585px,682px;
		background-repeat: no-repeat;
		background-position:top 143px center;
		
	}
	.t-h2{
		font-size: 30px;
line-height: 37px;
letter-spacing: 0.9px;
	}
	.block-title{
		margin-bottom: 58px;
		img{
			width: 19px;
			height: 20px;
			margin-bottom: 25px;
		}
	}
	.service{
		margin-left: 0px;
		margin-bottom: 51px;
		.service_img{
			width: 34px;
			height: 34px;
		}
		.service_title{
			font-size: 22px;
line-height: 27px;
letter-spacing: 0.44px;
margin-bottom: 35px;
		}
		.service_txt{
			font-weight: 300;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.32px;
		}
	}
	.section-two{
	    transform: translate(0px, 0px);
		.img-b{
			width: 464px;
			height: 412px;
			top:-40px;
			right: -185px;
		}
		.bg-l{
			width: 100%;
		}
		.block-download{
			padding-top: 195px;
			height: auto;
			.btn-st{
				margin: auto;
				bottom: -27px;
				left: 0;
				right: 0;
				width: 280px;
				height: 64px;
				font-size: 16px;
		line-height: 19px;
			}
.bownload_txt{
	flex-wrap: wrap;
	.l{
		width: 100%;
		.img_g{
			width: 196px;
			height: 229px;
		}
	}
	.r{
		width: 100%;
		margin-top: 0px;
		margin-left: 0px;
		width: 190px;
		margin-bottom: 65px;
	}
}
		}
		.txt_title{
			font-size: 22px;
line-height: 27px;
letter-spacing: 0.64px;
margin-bottom: 48px;
		}
		.t-s{
			font-size: 16px;
line-height: 24px;

letter-spacing: 0.32px;
		}
	
	}
	.section-tree{
		padding-top: 92px;
	}

}

@media screen  and(max-width:350px) {

}

@media screen and (min-width:565px) and(max-width:991px) {
	.container {
		max-width: 720px !important;
		min-width: 560px !important;

	}
	.section-two{
		.bg-l{
			width: 50%;
		}
		.img-b{
			right: 0px;
		}
	}

.section-two{
	.img-b{
		transform: scale();
	}
}

}

@media screen and (min-width:992px) and(max-width:1280px) {

}

.feed {




	transition: 1s;

	transform: translateY(100px);

	opacity: 0;
}

.feed.appeared {

	transform: translateY(0px);
	opacity: 1;
}

.feed-one {




	transform: translateX(0px);
	opacity: 1;
	animation: box 1s;
}

// @keyframes box {
// 	0% {
// 		transform: translateX(100px);

// 		opacity: 0;
// 	}

// 	100% {
// 		transform: translateX(0px);
// 		opacity: 1;
// 	}
// }

.feed-one.appeared {

	transform: translateX(0px);
	opacity: 1;
}

